<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.twt.dao.BugdetailMapper">

    <resultMap id="BugdetailMap" type="Bugdetail">
        <id property="id" column="id"/>
        <result property="projectId" column="projectId"/>
        <result property="serverity" column="serverity"/>
        <result property="title" column="title"/>
        <result property="reportUser" column="reportUser"/>
        <result property="caeateDate" column="createDate"/>
        <association property="bugproject" javaType="Bugproject" column="projectId">
            <id property="id" column="pid"/>
            <result property="name" column="pname"/>
        </association>
    </resultMap>

    <select id="queryBugdetailList" resultMap="BugdetailMap">
        SELECT d.`id`,d.`projectId`,d.`serverity`,d.`title`,d.`reportUser`,d.`createDate`,p.`id` as pid,p.`name`as pname FROM
         bug_detail d,bug_project p
         <trim prefix="where">
             d.`projectId` = p.`id`
             <if test="projectId != null and projectId != 0">
                 and d.`projectId` = #{projectId}
             </if>
         </trim>
    </select>

    <insert id="insertBugdetail" parameterType="Bugdetail">
        INSERT INTO `bug_detail` (
          `projectId`,
          `serverity`,
          `title`,
          `reportUser`,
          `createDate`
        )
        VALUES
          (
            #{projectId},
            #{serverity},
            #{title},
            #{reportUser},
            #{createDate}
          )
    </insert>
</mapper>